.hidden {
  display: none;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}
.form input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
.form button {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  background-color: lightblue;
  border: none;
  outline: none;
}

.redcolor{
  background-color: red;
}