.hidden {
  display: none;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}
.input_js {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
.form button, .button_js {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background-color: blue;
  border: none;
  outline: none;
}

.checkbox_js {
  display: flex;
  justify-content: space-around;
}

.label_js{
  display: flex;
  align-items: center;
}
.error_js{
  font-size: x-small;
  color: brown;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}